.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .logo2= link_to image_tag('logo_b.png'), {action: 'index', controller: 'home'}
      %nav
        %ul.nav.nav-pills.pull-right
          %li= link_to "Team", '#'
          %li= link_to "Product and Pricing", '#' 
          %li= link_to "Contact", '#' 
          %li= link_to "Login", '#' 
          %li= link_to "Sign Up", '#' 
